.node {
  width: 48px;
  height: 48px;
  border: 1px solid #222233;
  background: #FFFFFF;
  border-radius: 2px;
}

.nodeRegular {
  background-color: #FFFFFF;

  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.nodeStart {
  background-color: green;
  animation-name: nodeStartRender;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeStartRender {
  0% {
    transform: scale(0.6);
    border-radius: 20%;
    background-color: green;
  }

  50% {
    transform: scale(1.2);
    background-color: green;
  }

  100% {
    transform: scale(1);
    background-color: green;
  }
}

.nodeEnd {
  background-color: red;
  animation-name: nodeEndRender;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeEndRender {
  0% {
    transform: scale(0.6);
    border-radius: 20%;
    background-color: red;
  }

  50% {
    transform: scale(1.2);
    background-color: red;
  }

  100% {
    transform: scale(1);
    background-color: red;
  }
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 20%;
  }

  50% {
    background-color: peachpuff;
  }

  75% {
    transform: scale(1.2);
    background-color: peachpuff;
  }

  100% {
    transform: scale(1);
    background-color: peachpuff;
  }
}

.nodeWall {
  background-color: rgb(12, 53, 71);
  animation-name: nodeWallRender;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeWallRender {
  0% {
    transform: scale(0.6);
    border-radius: 20%;
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.nodeShortestPath {
  animation-name: shortestPath;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    border-radius: 20%;
    background-color: aquamarine;
  }

  50% {
    transform: scale(1.2);
    background-color: aquamarine;
  }

  100% {
    transform: scale(1);
    background-color: aquamarine;
  }
}

@media (max-width: 1456px) {
  .node {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1350px) {
  .node {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1250px) {
  .node {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1150px) {
  .node {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1050px) {
  .node {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 989px) {
  .node {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 820px) {
  .node {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 760px) {
  .node {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 650px) {
  .node {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 650px) {
  .node {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 560px) {
  .node {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 450px) {
  .node {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 390px) {
  .node {
    width: 17px;
    height: 17px;
  }
}