@import '../../styles/variables';

.about {
  margin: 100px auto;
  text-align: center;
  max-width: 680px;
  transition: 0.3s ease-in-out;
  height: 70vh;

  &__title {
    text-shadow: 10px 10px 2px 2px;
    font-weight: 700;
    font-size: 55px;
    margin: 10px;
  }

  &__text {
    font-size: 24px;
    margin-top: 10px;
  }
}



.author {
  position: absolute;
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
  color: $quote-font-color;
  left: calc(50% - 100px);
  bottom: 130px;
  opacity: 0.3;

  a {
    color: $quote-font-color;
    text-decoration: none;
  }
}

