.sorting__chart {
  display: inline-block;
  max-width: 1050px;
  height: 600px;
  border-radius: 12px;
  padding: 20px 0px 20px 0;
  background-color: #fff;
  margin-bottom: 10px;
}

.bars {
  width: 100%;
  height: 85%;
}

@media (max-width: 1500px) {
  .sorting__chart {
    max-width: 900px;
  }
  .bars {
    width: 100%;
    height: 85%;
  }
}

@media (max-width: 1350px) {
  .sorting__chart {
    max-width: 100vw;
  }
}

@media (max-width: 989px) {
  .sorting__chart {
    max-width: 100vw;
    max-height: 800px;
  }
  .bars {
    width: 100%;
    height: 85%;
  }
}


@media (max-width: 650px) {
  .sorting__chart {
    height: 800px;
  }
  .bars {
    height: 75%;
  }
}