.sorting__chart {
  width: 74%;
  border-radius: 12px;
  padding: 20px 0px 20px 0;
  background-color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 989px) {
  .sorting__chart {
    width: 100%;
  }
}