.currentElement {
  background: #82ca9d;
}

.comparableElement {
  background-color: #a9a84b;
}

.swappingElement {
  background-color: #b70b1f;
}

.sortedElement {
  background-color: #25c1c5;
}

.minValue {
  background-color: #1dc02c;
}

.unsortedElement {
  background-color: #b4c5da;
}

.initialElement {
  background-color: #3F8EEB;
}