.sorting {
  display: flex;
  justify-content: space-evenly;
  column-gap: 30px;
  flex-grow: 1;
}

.buttonsContainer {
  display: flex;
  margin: 0 auto;
  row-gap: 25px;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 15px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 1350px) {
  .sorting {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .inputContainer {
    flex-direction: row;
    column-gap: 30px;
    align-items: flex-end;
  }
}

@media (max-width: 989px) {
  .sorting {
    margin-top: 10px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    column-gap: 30px;
  }
  .inputContainer {
    flex-direction: row;
    column-gap: 30px;
    align-items: flex-end;
  }
}

@media (max-width: 650px) {
  .sorting {
    margin-top: 5px;
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
    column-gap: 10px;
  }
  .inputContainer {
    flex-direction: row;
    column-gap: 20px;
    align-items: flex-end;
  }
}
